.prompt {
    &__container {
        &__child {
            &--fst {
                float: left;
                width: auto;
            }

            &--snd {
                display: block;
                // FIXME: This is a hack to make the prompt look good, but it
                //        will break if the prompt text length is changed
            }
        }
    }

    &__input {
        outline: 0 solid transparent;
    }
}
