<div class="prompt__container">
    <div class="prompt__container__child--fst"
         [innerHTML]=prompt.message
    ></div>
    <div class="prompt__container__child--snd prompt__input"
         id="prompt-input"
         [ngStyle]="{'margin-left.ch': getVanillaPromptMessage().length}"
         contenteditable="true"
         #promptElement
         (input)="onInput()"
         (keyup.enter)="onEnter()"
         (keydown.tab)="onTab()"
         (keydown.arrowUp)="onArrow(ARROW_UP)"
         (keydown.arrowDown)="onArrow(ARROW_DOWN)"
    ></div>
</div>
