.output {
    font-family: "Courier New", monospace;
    font-size: 20px;
    margin: 1rem;
    overflow-x: hidden;
    white-space: nowrap;

    /*
    > * {
        display: inline-block;
        width: 600px;
        white-space: normal;
    }*/

    &__content {

    }

    &__prompt {
    }

    span {
        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }

        &.underline {
            text-decoration: underline;
        }

        &.strikethrough {
            text-decoration: line-through;
        }

        &.fg {
            &--black {
                color: #0c0c0c;
            }

            &--red {
                color: #c50f1f;
            }

            &--green {
                color: #13a10e;
            }

            &--yellow {
                color: #c19c00;
            }

            &--blue {
                // color: #0037da;
                color: #3b78ff;
            }

            &--magenta {
                color: #881798;
            }

            &--cyan {
                color: #3a96dd;
            }

            &--white {
                color: #cccccc;
            }
        }

        &.bg {
            &--black {
                background-color: #0c0c0c;
            }

            &--red {
                background-color: #c50f1f;
            }

            &--green {
                background-color: #13a10e;
            }

            &--yellow {
                background-color: #c19c00;
            }

            &--blue {
                background-color: #0037da;
            }

            &--magenta {
                background-color: #881798;
            }

            &--cyan {
                background-color: #3a96dd;
            }

            &--white {
                background-color: #cccccc;
            }
        }
    }
}
