.output {
    font-family: "Courier New", monospace;
    font-size: 16px;
    margin: 1rem;
    overflow-x: hidden;
    white-space: nowrap;

    /*
    > * {
        display: inline-block;
        width: 600px;
        white-space: normal;
    }*/

    &__content {

    }

    &__prompt {
    }

    span {
        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }

        &.underline {
            text-decoration: underline;
        }

        &.strikethrough {
            text-decoration: line-through;
        }

        &.fg {
            &--black {
                color: black;
            }

            &--red {
                color: red;
            }

            &--green {
                color: green;
            }

            &--yellow {
                color: yellow;
            }

            &--blue {
                color: blue;
            }

            &--magenta {
                color: magenta;
            }

            &--cyan {
                color: cyan;
            }

            &--white {
                color: white;
            }
        }

        &.bg {
            &--black {
                background-color: black;
            }

            &--red {
                background-color: red;
            }

            &--green {
                background-color: green;
            }

            &--yellow {
                background-color: yellow;
            }

            &--blue {
                background-color: blue;
            }

            &--magenta {
                background-color: magenta;
            }

            &--cyan {
                background-color: cyan;
            }

            &--white {
                background-color: white;
            }
        }
    }
}
